Repository ellen-young-yt/data_transformation: changes, and which pre-commit hooks are due for each by the changed paths.
All: env-validation, python-syntax

Path conditions:
  env-validation: any of: ^(scripts/|\.env\.example|pyproject\.toml|requirements\.txt).*
  python-syntax: any of: ^scripts/.*\.py$ and \.py$

fix bug causing parsing error
  .github/actions/setup-dbt/action.yml
Due: none

fix deprecated github action
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  .github/workflows/security.yml
Due: none

fix deprecated github actions
  .github/actions/quality-checks/action.yml
  .github/workflows/security.yml
Due: none

fix various ci errors
  .github/actions/quality-checks/action.yml
  .github/workflows/security.yml
Due: none

fix ci security warnings
  .github/workflows/security.yml
Due: none

fix syntax errors in pre-deployment workflow
  .github/actions/quality-checks/action.yml
Due: none

various fixes to our cd workflow
  .github/actions/quality-checks/action.yml
Due: none

refactor complex script logic into separate bash files
  .github/actions/quality-checks/action.yml
  .github/actions/quality-checks/scripts/check-results.sh
  .github/actions/quality-checks/scripts/generate-summary.sh
  .github/actions/quality-checks/scripts/run-security-checks.sh
Due: none

fix cd permissions issue
  .github/actions/quality-checks/action.yml
  .github/actions/quality-checks/scripts/check-results.sh
  .github/actions/quality-checks/scripts/generate-summary.sh
  .github/actions/quality-checks/scripts/run-security-checks.sh
Due: none

fix cd permissions issue
  .gitattributes
  .pre-commit-config.yaml
Due: none

Fix CD workflow pre-commit failures by reordering AWS setup
  .github/actions/quality-checks/action.yml
Due: none

remove testing, code quality, and security packages that were overkill from pre-commit and ci/cd workflows
  .bandit
  .github/actions/quality-checks/scripts/check-results.sh
  .github/actions/quality-checks/scripts/run-security-checks.sh
  .github/workflows/pull-request.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  pyproject.toml
  quality-reports/pip-audit.json
  quality-reports/safety-report.json
  quality-reports/safety-report.txt
  quality-reports/secrets-scan.json
  requirements.txt
  scripts/environment_manager.py
Due: env-validation, python-syntax

fix missing environment variables
  .github/workflows/deploy.yml
Due: none

fix incorrectly configured ecr repo name
  scripts/environment_manager.py
Due: env-validation, python-syntax

missing env variable
  .github/workflows/deploy.yml
Due: none

remove ecs image tags that were violating mutability
  .github/workflows/deploy.yml
Due: none

fix cd flow that was hanging due to dbt trying to serve docs; update make docs behavior to serve conditional on a parameter
  .github/workflows/deploy.yml
  Makefile
Due: none

fix make command that had syntax error on windows; light cleanup
  .env.example
  Makefile
Due: env-validation

refactor file validation into separate file and address windows file lock errors; other minor organization refactors
  .secrets.baseline.new
  Makefile
  requirements.txt
  scripts/dbt_commands.py
  scripts/environment_manager.py
  scripts/file_validators.py
  scripts/linting.py
  scripts/setup.py
Due: env-validation, python-syntax

add missing code checkout and permissions to ci workflow
  .github/workflows/pull-request.yml
  .github/workflows/security.yml
Due: none

address more missing code checkouts in the CI flow; refactor to have only CI workflow manage checkouts instead of actions
  .github/actions/setup-complete/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/pull-request.yml
Due: none

rename test environment to staging
  .github/actions/quality-checks/action.yml
  .github/actions/setup-dbt/action.yml
  profiles/profiles.yml
  scripts/environment_manager.py
Due: env-validation, python-syntax

delete unnecessary files from the project and clean up tool configs
  .github/workflows/deploy.yml
  .gitignore
  .sqlfluff
  pyproject.toml
  quality-reports/pip-audit.json
  quality-reports/safety-report.json
  quality-reports/safety-report.txt
  quality-reports/secrets-scan.json
Due: env-validation

create staging models for youtube analytics data
  .sqlfluff
  models/staging/.gitkeep
  models/staging/connection_test.sql
  models/staging/youtube_analytics/_youtube_analytics__sources.yml
  models/staging/youtube_analytics/stg_youtube_analytics__audience_retention.sql
  models/staging/youtube_analytics/stg_youtube_analytics__caption.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_basic.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_cards.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_combined.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_demographics.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_device.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_end_screens.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_playback_location.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_province.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_sharing_service.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_subtitles.sql
  models/staging/youtube_analytics/stg_youtube_analytics__channel_traffic.sql
  models/staging/youtube_analytics/stg_youtube_analytics__comment.sql
  models/staging/youtube_analytics/stg_youtube_analytics__video.sql
Due: none

add seeds to translate id values to labels; update config to materialize all objects as views
  dbt_project.yml
  seeds/.gitkeep
  seeds/card_types.csv
  seeds/category_id_lookup.csv
  seeds/country_codes_lookup.csv
  seeds/device_type.csv
  seeds/end_screen_element_types.csv
  seeds/languages.csv
  seeds/operating_system.csv
  seeds/playback_location_type.csv
  seeds/province_codes.csv
  seeds/sharing_services.csv
  seeds/topic_id_lookup.csv
  seeds/traffic_source_lookup.csv
Due: none

correct misnamed columns
  models/staging/youtube_analytics/stg_youtube_analytics__channel_traffic.sql
  models/staging/youtube_analytics/stg_youtube_analytics__comment.sql
Due: none

create schema for youtube analytics staging models
  models/staging/youtube_analytics/_youtube_analytics__schema.yml
Due: none

create base models for google ads data
  models/staging/google_ads/_google_ads__sources.yml
  models/staging/google_ads/base_google_ads__sources_account_history.sql
  models/staging/google_ads/base_google_ads__sources_account_hourly_stats.sql
  models/staging/google_ads/base_google_ads__sources_account_stats.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_bid_modifier_history.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_bidding_strategy_history.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_criterion_history.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_history.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_hourly_stats.sql
  models/staging/google_ads/base_google_ads__sources_ad_group_stats.sql
  models/staging/google_ads/base_google_ads__sources_ad_history.sql
  models/staging/google_ads/base_google_ads__sources_ad_stats.sql
  models/staging/google_ads/base_google_ads__sources_audience_stats.sql
  models/staging/google_ads/base_google_ads__sources_campaign_bidding_strategy_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_budget_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_conversion_goal_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_criterion_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_geo_target_type_setting_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_hourly_stats.sql
  models/staging/google_ads/base_google_ads__sources_campaign_network_setting_history.sql
  models/staging/google_ads/base_google_ads__sources_campaign_stats.sql
  models/staging/google_ads/base_google_ads__sources_click_stats.sql
  models/staging/google_ads/base_google_ads__sources_keyword_stats.sql
  models/staging/google_ads/base_google_ads__sources_landing_page_stats.sql
  models/staging/google_ads/base_google_ads__sources_lead_form_submission_data.sql
  models/staging/google_ads/base_google_ads__sources_local_services_lead.sql
  models/staging/google_ads/base_google_ads__sources_local_services_lead_conversations.sql
  models/staging/google_ads/base_google_ads__sources_search_keyword_stats.sql
  models/staging/google_ads/base_google_ads__sources_search_term_keyword_stats.sql
  models/staging/google_ads/base_google_ads__sources_search_term_stats.sql
  models/staging/google_ads/base_google_ads__sources_user_interest.sql
  models/staging/google_ads/base_google_ads__sources_video_responsive_ad_history.sql
Due: none

replace black, isort, and flake8 with ruff for better performance and code organization
  .github/CI_CD_GUIDE.md
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  README.md
  pyproject.toml
  requirements.txt
  scripts/dbt_commands.py
  scripts/docker_manager.py
  scripts/environment_manager.py
  scripts/file_validators.py
  scripts/linting.py
  scripts/utils.py
  setup.cfg
Due: env-validation, python-syntax

refactor sqlfluff to do fast local checks pre-commit and full suite in CI
  .github/actions/quality-checks/action.yml
  .github/actions/quality-checks/scripts/check-results.sh
  .github/actions/quality-checks/scripts/generate-summary.sh
  .github/actions/quality-checks/scripts/run-sqlfluff-dbt.sh
  .pre-commit-config.yaml
  .sqlfluff.dbt
  scripts/linting.py
Due: env-validation, python-syntax

create intermediate models for youtube analytics data sources
  dbt_project.yml
  models/intermediate/int_audience_retention__video.sql
  models/intermediate/int_channel_basic.sql
  models/intermediate/int_channel_basic__video.sql
  models/intermediate/int_channel_combined.sql
  models/intermediate/int_channel_combined__video.sql
  models/intermediate/int_channel_demographics.sql
  models/intermediate/int_channel_demographics__video.sql
  models/intermediate/int_channel_traffic.sql
  models/intermediate/int_channel_traffic__video.sql
  models/intermediate/int_video.sql
Due: none

create mart table with video performance metrics by day; data grain is video + date
  models/marts/.gitkeep
  models/marts/video_history.sql
Due: none

Update object locations in dbt_project file. Override get_custom_schema macro in order to control schema naming
  dbt_project.yml
  macros/.gitkeep
  macros/get_custom_schema.sql
Due: none

Fix misnamed references in Youtube Analytics schema
  models/staging/youtube_analytics/_youtube_analytics__schema.yml
Due: none

Create video retention mart table
  models/intermediate/int_channel_combined_summarized_by_video_and_day.sql
  models/marts/video_retention.sql
  profiles/.gitkeep
Due: none

Add columns to int_video indicating which video number each upload was. Propogate columns downstream to video_retention mart.
  models/intermediate/int_channel_combined__video.sql
  models/intermediate/int_channel_combined_summarized_by_video_and_day.sql
  models/intermediate/int_video.sql
  models/marts/video_retention.sql
Due: none

Update video_history mart to utilize the summarized version of channel_combined
  models/marts/video_history.sql
Due: none

Join additional video details to audience demographics and create a mart table for demographics. Refactor logic between mart and intermediate to better separate concerns.
  models/intermediate/int_channel_demographics__video.sql
  models/marts/audience_demographics.sql
Due: none

Add video upload date to audience demographic models
  models/intermediate/int_channel_demographics__video.sql
  models/marts/audience_demographics.sql
Due: none

Create a country_grouped dimension that aggregates countries with less viewership to reduce noise. Propogate this column through to mart demographics table.
  models/intermediate/int_channel_demographics.sql
  models/intermediate/int_channel_demographics__video.sql
  models/marts/audience_demographics.sql
Due: none
